ES_METRICS_CLUSTER_URL=http://search1.example.net:9200
ES_METRICS_INDEX_NAME=elasticsearch_metrics-search1
ES_METRICS_MONITORING_CLUSTER_URL=http://es-monitor.example.net:9200
ES_METRICS_INTERVAL=180
ES_METRICS_READ_SECURITY=True
ES_METRICS_READ_USERNAME=esuser
ES_METRICS_READ_PASSWORD=espassword
ES_METRICS_WRITE_SECURITY=True
ES_METRICS_WRITE_USERNAME=esuser
ES_METRICS_WRITE_PASSWORD=espassword
